

	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top:12px;padding-bottom:12px;"> <span style="font-size:16px;font-weight:bold;"> Dropdown </span> <span class="caret"></span></a>

	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="padding-top:0px;padding-bottom:0px;">
		<li><a href="#">Action</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Another action</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Something else here</a></li>
		<li role="separator" class="divider"></li>
		<li><a href="#">Separated link</a></li>
	</ul>
