<div class="row" style="margin-top:20px;">
	<div class="col-xs-12">
			<span class="label-header"><%= label %></span>
	</div>
</div>

<div class="row" style="margin-top:8px;">
	<div class="col-xs-12">
		<div class="segments">
			<div class="segments first-segment">
			</div>

			<div class="segments second-segment">
			</div>
		</div>
	</div>
</div>
